<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hiho</title>
</head>
<body>
    <p>hi what's up </p>
    <p><%= data %></p>
</body>

<style>
    body {
        background-color: #000000;
        font-family: Arial, sans-serif;
        color: #e2dcdc;
        text-align: center;
        padding: 50px;
    }
    
</style>
</html>